body {
    margin: 0;
    padding: 0;
}

#leafs {
    background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
    width: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}

#logo-text {
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    font-size: 80px;
    margin: 0 auto;

}

#logo-text img {
    width: 20%;
}